@use './assets/styling/variables' as *;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: 
    fixed 
    $main-background 
    url(
      "https://www.transparenttextures.com/patterns/gray-sand.png"
      );
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - $sidebar-width);
  height: 100vh;
  margin-top: $header-height + 30px;

  @media screen and (max-width: 900px) {
    width: 100%;
    margin-top: $header-height;
  }
}

.userName {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: $light-shades;
}

