@use './assets/styling/variables' as *;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: $main-background;
}

.wrapper .main_container{
  width: 90%;
  margin-top: 100px;
  margin-right: 100px;
  padding: 15px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.padded {
  padding: 0 5px;
}