// -- Theme --
$light-shades: #F3EFDD;
$main-color: #7d8ebb;
$dark-accent: #6D51E7;
$dark-shades: #31315E;

$main-background: #2e2d25;
$post-color: #363636;
// $post-color: #CE6D5C; //Color option 2

// -- Sizing --
$sidebar-width: 200px;
$header-height: 70px;