@use '../../assets/styling/variables' as *;

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  user-select: none;
  opacity: 0.93;
  color: $light-shades;
  background-color: $light-accent;
  width: 700px;
  height: auto;
  border-radius: 15px;
  padding: 10px;
  rotate: .3deg;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.post:hover {
  scale: 1.03;
  opacity: 1;
  rotate: 0deg;
}

.post img {
  min-width: 300px;
  height: 450px;
  max-width: 650px;
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.postText {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}


@media screen and (max-width: 900px) {
  .post {
      margin: 10px 0;
      width: 100vw;
      height: auto;
      overflow: hidden;
      padding: 0 0 20px 0;
      opacity: 1;
      rotate: 0deg;
      &:hover {
          scale: 1;
      }
  }
  
  .post img {
      width: 100%;
      height: auto;
      /* object-fit: cover; */
      padding: 0;
      transition: all 0.3s ease-in-out;
      margin: 0 0 20px 0;
      border-radius: 0;
  }

  .postText {
      width: 100%;
      height: auto;
      padding: 10px;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
  }
  
}