@use "../../assets/styling/variables" as *;

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  user-select: none;
  opacity: 0.93;
  color: $light-shades;
  background-color: $post-color;
  width: 700px;
  height: auto;
  border-radius: 15px;
  padding: 10px;
  rotate: 0.3deg;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px outset $light-shades;
}

.post:hover {
  scale: 1.03;
  opacity: 1;
  rotate: 0deg;
}

.post img {
  min-width: 300px;
  height: 450px;
  max-width: 650px;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  border: 2px inset $light-shades;
}

.postText {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 900px) {

  .post:first-of-type {
    margin-top: $header-height;
  }

  .post {
    margin: 10px 0;
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 0 0 10px 0;
    opacity: 1;
    rotate: 0deg;
    border-radius: 0;
    &:hover {
      scale: 1;
    }
  }

  .post img {
    width: calc(100vw - $sidebar-width-collapsed);
    height: auto;
    padding: 0;
    transition: all 0.3s ease-in-out;
    margin: 0 0 20px 0;
    border-radius: 0;
  }

  .postText {
    width: 100%;
    height: auto;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
