@use "../../assets/styling/variables" as *;

// Todo: Fix sidebar content to be responsive with shorter height

.wrapper .sidebar {
  position: fixed;
  align-items: center;
  flex-direction: column;
  display: flex;
  top: $header-height;
  right: 0;
  background-color: $main-color;
  width: $sidebar-width;
  height: 100%;
  transition: all 0.3s ease;
  border-left: solid 1px $dark-shades;
  z-index: 1000;
  @media screen and (max-width: 900px) {
    position: fixed;
    right: 0;
    top: $header-height;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
}

.wrapper .sidebar ul li a {
  display: flex;
  padding: 2vh 20px;
  color: $dark-shades;
  position: relative;
  margin-bottom: 1px;
  white-space: nowrap;
  transition: all 0.3s ease;
  align-items: center;
  &.active {
    background-color: $dark-shades;
    color: $light-shades;
  }
  &:hover {
    scale: 1.03;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: $dark-accent;
    color: $light-shades;
  }
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 15px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
  background-color: $dark-accent;
}

.wrapper.collapse .sidebar {
  transform: translateX(0);
}

.tabToggle {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: $dark-accent;
  color: $light-shades;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.03;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: $dark-shades;
    color: $light-shades;
  }
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  .upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    border-top: 2px dotted $dark-shades;
    border-bottom: 2px dotted $dark-shades;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: $dark-shades;
    font-size: 20px;
    font-family: Arial, sans-serif;
    user-select: none;

    &:hover {
      border-color: $dark-accent;
    }

    img {
      max-width: 100%;
      max-height: 300px;
      object-fit: contain;
      border-radius: 15px;
    }
  }

  button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: $dark-accent;
    color: $light-shades;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      scale: 1.03;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      background-color: $dark-shades;
      color: $light-shades;
    }
  }
}

#timeFormLabel {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $dark-shades;
}

#timerForm {
  //input for asking how much time
    width: 80%;
    height: 30px;
    border: 1px solid $dark-shades;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
}