@use '../../assets/styling/variables' as *;

.wrapper .sidebar{
  position: fixed;
  top: 70px;
  right: 0;
  background-color: $main-color;
  width: 250px;
  height: calc(100%);
  transition: all 0.3s ease;
  border-left: solid 1px $dark-shades;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 30px;
    color: $dark-shades;
    position: relative;
    margin-bottom: 1px;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 15px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background-color: $dark-shades;
  color: $light-shades;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
  background-color: $dark-accent;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
  color: $light-shades;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}